body
    font-family: Arial, Helvetica, sans-serif

h1
    color: hotpink
    font-size: 2em
    font-family: Georgia, 'Times New Roman', Times, serif
    border-bottom: 10px dotted purple

h2
    font-size: 1.5em
    font-style: italic

.job-title
    color: #999999
    font-weight: bold
ul
    border: 5px solid purple
    padding: 0 0 0 25px
    background-color: #eeeeee
li

a:link, a:visited
    color: #fb6542

a:hover
    text-decoration: none
    color: green
